<% content_for :head do %>
<%= javascript_include_tag "admin/dashboard" %>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <!-- <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading" style="color:#000000">
              <b> Recent Users</b>
              
              <%= link_to "See more", admin_users_path, class: "btn btn-default btn-xs pull-right" %>
            </div>
            <table class="table table-condensed table-striped">
              <%= pie_chart @users.group(:role).count %>
            </table>
          </div>
        </div> -->


        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading" style="color:#000000">
              <b> Recent Students</b>
              <%= link_to "See more", admin_users_path, class: "btn btn-default btn-xs pull-right" %>
            </div>
            <table class="table table-condensed table-striped">
              <tbody>
                <% if @student.count > 0 %>
                      <tr>
                        <th>Username</th>
                        <th>E-mail</th>                  
                        <th>Contact</th>
                      </tr>
                      <% @student.each do |student| %>     
                      <tr >
                        <td><%= student.username %></td>
                        <td><%= student.email %></td>                  
                        <td><%= student.contact_number %></td>
                      </tr>
                      <% end %>
                <% else %>
                      <p class="alert">No students to display . </p>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading" style="color:#000000">
              <b> Recent Faculties </b>
              <%= link_to "See more", admin_users_path, class: "btn btn-default btn-xs pull-right" %>
            </div>
            <table class="table table-condensed table-striped">
              <tbody>
              <% if @faculty.count > 0 %>
                <tr>
                  <th>Username</th>
                  <th>E-mail</th>                  
                  <th>Contact</th>
                </tr>
                <% @faculty.each do |faculty| %>     
                <tr >
                  <td><%= faculty.username %></td>
                  <td><%= faculty.email %></td>                  
                  <td><%= faculty.contact_number %></td>
                </tr>
                <% end %>
                <% else %>
                      <p class="alert">No faculties to display . </p>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading" style="color:#000000">
              <b> Recent Jobseekers </b>
              <%= link_to "See more", admin_users_path, class: "btn btn-default btn-xs pull-right" %>
            </div>
            <table class="table table-condensed table-striped">
              <tbody>
              <% if @jobseeker.count > 0 %>
                <tr>
                  <th>Username</th>
                  <th>E-mail</th>                  
                  <th>Contact</th>
                </tr>
                <% @jobseeker.each do |jobseeker| %>     
                <tr >
                  <td><%= jobseeker.username %></td>
                  <td><%= jobseeker.email %></td>                  
                  <td><%= jobseeker.contact_number %></td>
                </tr>
                <% end %>
                <% else %>
                      <p class="alert">No jobseekers to display . </p>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading" style="color:#000000">
              <b> Recent Company </b>
              <%= link_to "See more", admin_users_path, class: "btn btn-default btn-xs pull-right" %>
            </div>
            <table class="table table-condensed table-striped">
              <tbody>
              <% if @company.count > 0 %>
                <tr>
                  <th>Username</th>
                  <th>E-mail</th>                  
                  <th>Contact</th>
                </tr>
                <% @company.each do |company| %>     
                <tr >
                  <td><%= company.username %></td>
                  <td><%= company.email %></td>                 
                  <td><%= company.contact_number %></td>
                </tr>
                <% end %>
                <% else %>
                      <p class="alert">No companies to display . </p>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>    
  </div>    
</div>