<%= simple_form_for [:admin, @graph], html: { class: 'form-horizontal' } do |f| %>
  
  <div class="form-group string" id="ind">
  <label class="string required col-sm-3 control-label" >
  <abbr title="required">*</abbr> Industry </label>
  <div class="col-sm-9">
  <%= f.collection_select :stock_country_id, StockCountry.order(:name),:id,:name, include_blank: true %>
  <%= f.error :stock_country_id %>
  </div>
  </div>

  <div class="form-group string" id="ind">
  <label class="string required col-sm-3 control-label" >
  <abbr title="required">*</abbr> Industry </label>
  <div class="col-sm-9">
  <%= f.collection_select :industry_id, Industry.order(:name),:id,:name, include_blank: true %>
  <%= f.error :industry_id %>
  </div>
  </div>

  <%= f.input :company_code, label: "Company Code" %>
  

  <div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary btn-sm">Save</button> <%= link_to "Back", admin_graphs_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
<% end %>