<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">        
        <h3 class="panel-title" style="color: #000000"><b><%= @quick_message.role.capitalize %></b></h3>
      </div>
      <div class="panel-body">


<p>
  <strong>text:</strong>
  <%= @quick_message.text %>
</p>
<p>
  <strong>Created At:</strong>
  <%= @quick_message.created_at.to_date %>
</p>
<p>
  <strong>Updated At:</strong>
  <%= @quick_message.updated_at.to_date %>
</p>


<div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <%= link_to 'Edit', edit_admin_quick_message_path(@quick_message), class: "btn btn-primary btn-sm" %> <%= link_to "Back", admin_quick_messages_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>