<%= simple_form_for [:admin, @video_upload], html: { class: 'form-horizontal' } do |f| %>
  <% if !@video_upload.file.blank? %>
  <div class="form-group string required user_district">
    <label class="string required col-sm-3 control-label" for="user_district">Uploaded Profile</label>
      <div class="col-sm-9">
        <%= video_tag @video_upload.file, :size => "320x240", :controls => true, :autobuffer => true %>
      </div>
  </div>
  <% end %>
  <div class="form-group string required user_district">
    <label class="string required col-sm-3 control-label" for="user_district">Upload Profile</label>
      <div class="col-sm-9">
        <%= f.input :file, as: :file, label: false %>
      </div>
  </div>
<%= f.radio_button(:role, "Jobseeker") %>
  <%= f.label(:role, "Jobseeker") %>
  <%= f.radio_button(:role, "Company")%>
  <%= f.label(:role, "Company") %>
  <%= f.radio_button(:role, "Student") %>
  <%= f.label(:role, "Student") %>
  <%= f.radio_button(:role, "Faculty")%>
  <%= f.label(:role, "Faculty") %>

  

  <div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary btn-sm">Save</button> <%= link_to "Back", admin_video_uploads_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
<% end %>