<%= simple_form_for [:admin, @company_stock], html: { class: 'form-horizontal' } do |f| %>
  
  <div class="form-group string" id="country">
  <label class="string required col-sm-3 control-label" >
  <abbr title="required">*</abbr> Country </label>
  <div class="col-sm-9">
  <%= f.collection_select :stock_country_id, StockCountry.order(:name),:id,:name, prompt: "Select something" %>
  <%= f.error :stock_country_id %>
  </div>
  </div>
  <div class="form-group string" id="country">
  <label class="string required col-sm-3 control-label" >
  <abbr title="required">*</abbr> Category </label>
  <div class="col-sm-9">
  <%= f.collection_select :category_id, Category.order(:name),:id,:name, prompt: "Select something" %>
  <%= f.error :category_id %>
  </div>
  </div>
  <%= f.input :company_code, label: "Company Code" %>
  <%= f.input :sensex, label: "Sensex" %>
  <%= f.input :currency, label: "Currency" %>
  <%= f.input :date_format, label: "Date Format" %>
  <%= f.input :time_zone, label: "Time Zone" %>
  <div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary btn-sm">Save</button> <%= link_to "Back", admin_company_stocks_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
<% end %>