<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">        
        <h3 class="panel-title" style="color: #000000"><b><%= @company_stock.sensex_co.capitalize %></b></h3>
      </div>
      <div class="panel-body">


<p>
  <strong>Sensex:</strong>
  <%= @company_stock.sensex %>
</p>
<p>
  <strong>Currency:</strong>
  <%= @company_stock.currency %>
</p>
<p>
  <strong>Date Format:</strong>
  <%= @company_stock.date_format %>
</p>
<p>
  <strong>Created At:</strong>
  <%= @company_stock.created_at.to_date %>
</p>
<p>
  <strong>Updated At:</strong>
  <%= @company_stock.updated_at.to_date %>
</p>


<div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <%= link_to 'Edit', edit_admin_company_stock_path(@company_stock), class: "btn btn-primary btn-sm" %> <%= link_to "Back", admin_company_stocks_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>