<div class="row">
  <div class="col-lg-offset-1 col-lg-10">
    <div class="panel panel-default">
      <div class="panel-heading">        
        
        <h3 class="panel-title">Setting</h3>
      </div>
      <div class="panel-body">
      	<%= simple_form_for [:admin, @setting], url: admin_settings_path, html: { class: 'form-horizontal' } do |f| %>
  <h4 class="text_decoration"><b> Site Setting </b></h4>
  <%= f.input :site_name, label: "Site Name" %>
    <%= f.input :site_email, label: "Site Email" %>
    <%= f.input :site_phone, label: "Site Fon" %>
    <%= f.input :site_fax, label: "Site Fax"%>
    <%= f.input :facebook_url, label: "Facebook URL"%>
    <%= f.input :twitter_url, label: "Twitter URL"%>
    <%= f.input :google_plus_url, label: "Google URL" %>
  <%= f.submit :save, class: 'btn btn-primary btn-sm', style: "margin-left:300px;" %>
<% end %>
</div>
  </div>
</div>
</div>