<%= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |f| %>
  
  <%= f.input :name, label: "Naam" %>
  <%= f.input :email, label: "E-mail" %>
  <%= f.input :phone_number, label: "Telefoon nr." %>
  <%= f.input :password, label: "Wachtwoord" %>
  <%= f.input :password_confirmation, label: "Bevestig Wachtwoord" %>

  <div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary btn-sm">Opslaan</button> <%= link_to "Terug", admin_users_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
<% end %>