<div class="row ">
  <div class="col-lg-offset-1 col-lg-10">
    <div class="panel panel-default" id="user_sections" style="background:#fff;">
      <ul class="tab">
        <% if @user.role == 'Jobseeker' %>
        <li class="text_color"><a href="#JobseekerDetail" >Info</a></li>
        <li class="text_color"><a href="#JobseekerEducation" >Education</a></li>
        <li class="text_color"><a href="#JobseekerExperience" >Exp</a></li>
        <li class="text_color"><a href="#JobseekerPreferredWork" >PreWork</a></li>
        <li class="text_color"><a href="#JobseekerAwards" >Awards</a></li>
        <li class="text_color"><a href="#JobseekerCertificates" >Certi</a></li>
        <li class="text_color"><a href="#JobseekerWhizQuiz" >WhizQuiz</a></li>
        <li class="text_color"><a href="#JobseekerCurricular" >Curricular</a></li>
        <li class="text_color"><a href="#JobseekerFutureGoal" >Goal</a></li>
        <li class="text_color"><a href="#JobseekerWorkingEnvironment" >Work</a></li>
        <li class="text_color"><a href="#JobseekerReferences" >References</a></li>
        <% elsif @user.role == 'Company' %>
        <li class="text_color"><a href="#CompanyDetail" >Info</a></li>
        <li class="text_color"><a href="#CompanyCorporate" >Corporate Identity</a></li>
        <li class="text_color"><a href="#CompanyEvalution" >Company Evalution</a></li>
        <li class="text_color"><a href="#CompanyFutureGoal" >Future Goal</a></li>
        <li class="text_color"><a href="#CompanyAwards" >Awards</a></li>
        <li class="text_color"><a href="#CompanyCertificates" >Certificates</a></li>
        <li class="text_color"><a href="#CompanyGallery" >Gallery</a></li>
        <li class="text_color"><a href="#CompanyWorkingEnvironment" >Work Environment</a></li>
        <% elsif @user.role == 'Faculty' %>
        <li class="text_color"><a href="#FacultyDetail" >Info</a></li>
        <li class="text_color"><a href="#FacultyAffiliation" >Professional Affiliation</a></li>
        <li class="text_color"><a href="#FacultyWorkshop" >Workshop</a></li>
        <li class="text_color"><a href="#FacultyPublication" >Publication</a></li>
        <li class="text_color"><a href="#FacultyResearch" >Research</a></li>
        <li class="text_color"><a href="#FacultyAwards" >Awards</a></li>
        <li class="text_color"><a href="#FacultyCertificates" >Certificates</a></li>
        <% elsif @user.role == 'Student' %>
        <li class="text_color"><a href="#StudentDetail" >Info</a></li>
        <li class="text_color"><a href="#StudentEducation" >Education</a></li>
        <li class="text_color"><a href="#StudentMarksheet" >Marksheet</a></li>
        <li class="text_color"><a href="#StudentProject" >Project</a></li>
        <li class="text_color"><a href="#StudentAwards" >Awards</a></li>
        <li class="text_color"><a href="#StudentCertificates" >Certificates</a></li>
        <li class="text_color"><a href="#StudentCurricular" >Curricular</a></li>
        <li class="text_color"><a href="#StudentFutureGoal" >Future Goal</a></li>
        <% end %>
      </ul>
      <div class="panel-body" style="background:#fff;">
        <% if @user.role == 'Jobseeker' %>

              <div id="JobseekerDetail">   
                <table>      
                  <p><strong class="text_color" >Personal Details</strong></p>         
                  <tr>
                    <td>Username</td>
                    <td><%= @user.username %></td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><%= @user.email %></td>
                  </tr>
                  <tr>
                    <td>Role</td>
                    <td><%= @user.role %></td>
                  </tr>
                  <tr>
                    <td>Full Name</td>
                    <td><%= @user.first_name %> <%= @user.middle_name %> <%= @user.last_name %></td>
                  </tr>
                  <tr>
                    <td>Contact Number</td>
                    <td><%= @user.contact_number  %></td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td><%= @user.address %> , <%= @user.city %></td>
                  </tr>
                  <tr>
                    <td>Country ID</td>
                    <td><%= @user.country_id  %></td>
                  </tr>
                  <tr>
                    <td>Country Name</td>
                    <% if @user.country_id.blank? %>
                      <td><p>Not Available</p></td>                      
                    <% else %>
                      <td><%= @user.stock_country.name  %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td>Nationality</td>
                    <td><%= @user.nationality %></td>
                  </tr>
                  <tr>
                    <td>File</td>
                    <td><% if @user.file_type == 'video' %><%= video_tag @user.file, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag @user.file, :size => "50x50" %><% end %></td>
                  </tr>
                  <tr>
                    <td>File URL</td>
                    <td><%= @user.file.url %></td>
                  </tr>  
                  <tr>
                    <td>Profile</td>
                    <td><%= image_tag @user.profile_pic, :size => "50x50" %></td>
                  </tr>            
                  <tr>
                    <td>Back Profile</td>
                    <td><%= image_tag @user.back_profile, :size => "50x50" %></td>
                  </tr>
                </table> 
                <p style="margin-top:20px;"><strong class="text_color" >All Percentage</strong></p>        
                <table>
                  <tr>
                    <th>Resume</th>
                    <th>Achievement</th>
                    <th>Curricular</th>
                    <th>Life Goal</th>
                    <th>Working Environment</th>
                    <th>Reference</th>
                    <th>Whizquiz</th>
                    <th>Total</th>
                  </tr>
                  <tr>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.resume_per.to_i, "resume") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.achievement_per.to_i, "achievement") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.curri_per.to_i, "extra") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.future_goal_per.to_i, "futuregoal") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.working_env_per.to_i, "workingenv") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.ref_per.to_i, "references") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.whizquiz_per.to_i, "whizquiz") : 0 %></td>
                    <td><%= @user.user_meter ? @user.user_meter.profile_meter_per.to_i : 0 %></td>
                  </tr>
                </table>
              </div>
              <div id="JobseekerEducation">
                <% if @user.user_educations.count > 0 %>
                <table>
                  <tr>
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Course</strong></th>
                    <th><strong class="text_color" >Specialization</strong></th>
                    <th><strong class="text_color" >Year</strong></th>
                    <th><strong class="text_color" >School</strong></th>
                    <th><strong class="text_color" >Skill</strong></th>
                  </tr>
                  <% @user.user_educations.each do |edu| %>
                  <tr>
                    <td><%= edu.id %></td>
                    <td><%= edu.course.name %></td>
                    <td><%= edu.specialization.name %></td>
                    <td><%= edu.year %></td>
                    <td><%= edu.school %></td>
                    <td><%= edu.skill %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="JobseekerExperience">
                <% if @user.user_experiences.count > 0 %>
                <table>
                  <tr>
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Name</strong></th>
                    <th><strong class="text_color" >Exp Type</strong></th>
                    <th><strong class="text_color" >Start From</strong></th>
                    <th><strong class="text_color" >Working Till</strong></th>
                    <th><strong class="text_color" >Designation</strong></th>
                    <th><strong class="text_color" >File</strong></th>
                  </tr>
                  <% @user.user_experiences.each do |exp| %>
                  <tr>
                    <td><%= exp.id %></td>
                    <td><%= exp.name %></td>
                    <td><%= exp.exp_type %></td>
                    <td><%= exp.start_from %></td>
                    <td><%= exp.working_till %></td>
                    <td><%= exp.designation %></td>
                    <td><% if exp.file_type == 'video' %><%= video_tag exp.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag exp.thumb_url, :size => "50x50" %><% end %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="JobseekerPreferredWork">
                <% if @user.user_preferred_works.count > 0 %>
                <table>
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Industry</strong></th>
                    <th><strong class="text_color" >Functional Name</strong></th>
                    <th><strong class="text_color" >Preferred Designation</strong></th>
                    <th><strong class="text_color" >Preferred Location</strong></th>
                    <th><strong class="text_color" >Current Salary</strong></th>
                    <th><strong class="text_color" >Expected Salary</strong></th>
                    <th><strong class="text_color" >Time Type</strong></th>
                  </tr>
                  <% @user.user_preferred_works.each do |pre_work| %>
                  <tr>
                    <td><%= pre_work.id %></td>
                    <td><%= pre_work.ind_name %></td>
                    <td><%= pre_work.functional_name %></td>
                    <td><%= pre_work.preferred_designation %></td>
                    <td><%= pre_work.preferred_location %></td>
                    <td><%= pre_work.current_salary %></td>
                    <td><%= pre_work.expected_salary %></td>
                    <td><%= pre_work.time_type %></td>            
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="JobseekerAwards">
                <% if @user.user_awards.count > 0 %>
                <table>
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <td><strong class="text_color" >Name </strong></td>
                    <td><strong class="text_color" >Award Type </strong></td>
                    <td><strong class="text_color" >Description </strong></td>
                    <td><strong class="text_color" >File </strong></td>
                    <th><strong class="text_color" >File Type </strong></th>
                  </tr>
                  <% @user.user_awards.each do |award| %>    
                  <tr >
                    <td><%= award.id %></td>
                    <td><%= award.name %></td>
                    <td><%= award.award_type %></td>
                    <td><%= award.description %></td>
                    <td><% if award.file_type == 'video' %><%= video_tag award.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag award.thumb_url, :size => "50x50" %><% end %></td>
                    <td><%= award.file_type %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="JobseekerCertificates">
                <% if @user.user_certificates.count > 0 %>
                <table>
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Name </strong></th>
                    <th><strong class="text_color" >Certificate Type </strong></th>
                    <th><strong class="text_color" >Year </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                    <th><strong class="text_color" >File Type </strong></th>
                  </tr>
                  <% @user.user_certificates.each do |certi| %> 
                  <tr >
                    <td><%= certi.id %></td>
                    <td><%= certi.name %></td>
                    <td><%= certi.certificate_type %></td>
                    <td><%= certi.year %></td>
                    <td><% if certi.file_type == 'video' %>
                      <%= video_tag certi.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %>
                      <% elsif certi.file_type == 'image' %><%= image_tag certi.thumb_url, :size => "50x50" %>
                      <% elsif certi.file_type == 'doc' %><%= link_to "Download Document",certi.file.url, target: '_blank' %>
                      <% end %></td>                      
                      <td><%= certi.file_type %></td>
                    </tr>
                    <% end %>
                  </table>
                  <% else %>
                  <p><strong class="text_color" >No Records Found.</strong></p>
                  <% end %>
              </div>
              <div id="JobseekerWhizQuiz">
                  <% if @user.user_whizquizzes.count > 0 %>
                  <table>
                    <tr >
                      <th><strong class="text_color" >No</strong></th>
                      <th><strong class="text_color" >Whizquiz Id </strong></th>
                      <th><strong class="text_color" >Review Type</strong></th>
                      <th><strong class="text_color" >Text Field </strong></th>
                      <th><strong class="text_color" >File </strong></th>
                      <th><strong class="text_color" >Status </strong></th>
                      <th><strong class="text_color" >Change </strong></th>
                    </tr>
                    <% @user.user_whizquizzes.each do |whizquiz| %>    
                    <tr >
                      <td><%= whizquiz.id %></td>
                      <td><%= whizquiz.whizquiz_id %></td>
                      <td><%= whizquiz.review_type %></td>
                      <td><%= whizquiz.text_field %></td>
                      <td><%= whizquiz.review.url %></td>
                      <td><%= whizquiz.status %></td>
                      <td><%= link_to "", admin_user_flop_path(whizquiz), class: "margin_class btn btn-default btn-xs glyphicon glyphicon-off", title: "Flop whizquiz" %></td>
                    </tr> 
                    <% end %>
                  </table>
                  <% else %>
                  <p><strong class="text_color" >No Records Found.</strong></p>
                  <% end %>
              </div>
              <div id="JobseekerCurricular">
                  <% if @user.user_curriculars.count > 0 %>
                  <table>
                    <tr >
                      <th><strong class="text_color" >No</strong></th>
                      <th><strong class="text_color" >Curricular Type </strong></th>
                      <th><strong class="text_color" >Team Type </strong></th>
                      <th><strong class="text_color" >Location </strong></th>
                      <th><strong class="text_color" >Date </strong></th>
                      <th><strong class="text_color" >File </strong></th>
                    </tr>
                    <% @user.user_curriculars.each do |curri| %>    
                    <tr >
                      <td><%= curri.id %></td>
                      <td><%= curri.curricular_type %></td>
                      <td><%= curri.team_type %></td>
                      <td><%= curri.location %></td>
                      <td><%= curri.date %></td>
                      <td><% if curri.file_type == 'video' %><%= video_tag curri.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag curri.thumb_url, :size => "50x50" %><% end %></td>
                    </tr> 
                    <% end %>
                  </table>
                  <% else %>
                  <p><strong class="text_color" >No Records Found.</strong></p>
                  <% end %>
              </div>
              <div id="JobseekerFutureGoal">
                  <% if @user.user_future_goals.count > 0 %>
                  <table>
                    <tr >
                      <th><strong class="text_color" >No</strong></th>
                      <th><strong class="text_color" >Id </strong></th>
                      <th><strong class="text_color" >Goal Type </strong></th>
                      <th><strong class="text_color" >Title </strong></th>
                      <th><strong class="text_color" >Term Type </strong></th>
                      <th><strong class="text_color" >File </strong></th>
                    </tr>
                    <% @user.user_future_goals.each do |future| %>
                    <tr >
                      <td><%= future.id %></td>
                      <td><%= future.id %></td>
                      <td><%= future.goal_type %></td>
                      <td><%= future.title %></td>
                      <td><%= future.term_type %></td>
                      <td><% if future.file_type == 'video' %><%= video_tag future.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag future.thumb_url, :size => "50x50" %><% end %></td>
                    </tr>
                    <% end %>
                  </table>
                  <% else %>
                  <p><strong class="text_color" >No Records Found.</strong></p>
                  <% end %>
              </div>
              <div id="JobseekerWorkingEnvironment">
                  <% if @user.user_environments.count > 0 %>
                  <table>
                    <tr >
                      <th><strong class="text_color" >No</strong></th>
                      <th><strong class="text_color" >Env Type </strong></th>
                      <th><strong class="text_color" >Title </strong></th>
                      <th><strong class="text_color" >File </strong></th>
                      <th><strong class="text_color" >File Type </strong></th>
                    </tr>
                    <% @user.user_environments.each do |work_env| %>     
                    <tr >
                      <td><%= work_env.id %></td>
                      <td><%= work_env.env_type %></td>
                      <td><%= work_env.title %></td>
                      <td><% if work_env.file_type == 'video' %><%= video_tag work_env.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% elsif work_env.file_type == 'text' %><%= work_env.text_field %><% else %><%= image_tag work_env.thumb_url, :size => "50x50" %><% end %></td>
                      <td><%= work_env.file_type %></td>
                    </tr>
                    <% end %>
                  </table>
                  <% else %>
                  <p><strong class="text_color" >No Records Found.</strong></p>
                  <% end %>
              </div>
              <div id="JobseekerReferences">
                  <% if @user.user_references.count > 0 %>
                  <table>     
                    <tr >
                      <th><strong class="text_color" >No</strong></th>
                      <th><strong class="text_color" >Title </strong></th>
                      <th><strong class="text_color" >Reference Type </strong></th>
                      <th><strong class="text_color" >From </strong></th>
                      <th><strong class="text_color" >Email </strong></th>
                      <th><strong class="text_color" >Contact </strong></th>
                      <th><strong class="text_color" >Date </strong></th>
                      <th><strong class="text_color" >Location </strong></th>
                      <th><strong class="text_color" >File </strong></th>
                      <th><strong class="text_color" >File Type </strong></th>
                    </tr>
                    <% @user.user_references.each do |ref| %>     
                    <tr >
                      <td><%= ref.id %></td>
                      <td><%= ref.title %></td>
                      <td><%= ref.ref_type %></td>
                      <td><%= ref.from %></td>
                      <td><%= ref.email %></td>
                      <td><%= ref.contact %></td>
                      <td><%= ref.date %></td>
                      <td><%= ref.location %></td>
                      <td><% if ref.file_type == 'video' %><%= video_tag ref.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% elsif ref.file_type == 'text' %><%= ref.text_field %><% else %><%= image_tag ref.thumb_url, :size => "50x50" %><% end %></td>
                      <td><%= ref.file_type %></td>
                    </tr>
                    <% end %>
                  </table>
                  <% else %>
                  <p><strong class="text_color" >No Records Found.</strong></p>
                  <% end %>
              </div>

        <% elsif @user.role == 'Company' %>

              <div id="CompanyDetail">   
                <table>      
                  <p><strong class="text_color" >Company Information</strong></p>         
                  <tr>
                    <td>Username</td>
                    <td><%= @user.username %></td>
                  </tr>
                  <tr>
                    <td>Company Name</td>
                    <td><%= @user.company_name %></td>
                  </tr>
                  <tr>
                    <td>Company Establish From</td>
                    <td><%= @user.company_establish_from %></td>
                  </tr>
                  <tr>
                    <td>Company Industry Id</td>
                    <td><%= @user.industry ? @user.industry_id : 0 %></td>
                  </tr>
                  <tr>
                    <td>Company Industry Name</td>
                    <td><%= @user.industry ? @user.industry.name : "" %></td>
                  </tr>
                  <tr>
                    <td>Company Functional Area</td>
                    <td><%= @user.company_functional_area %></td>
                  </tr>
                  <tr>
                    <td>Company Address</td>
                    <td><%= @user.company_address %></td>
                  </tr>
                  <tr>
                    <td>Company Zipcode</td>
                    <td><%= @user.company_zipcode %></td>
                  </tr>
                  <tr>
                    <td>Company City</td>
                    <td><%= @user.company_city %></td>
                  </tr>
                  <tr>
                    <td>Country ID</td>
                    <td><%= @user.country_id  %></td>
                  </tr>
                  <tr>
                    <td>Country Name</td>
                    <% if @user.country_id.blank? %>
                      <td><p>Not Available</p></td>                      
                    <% else %>
                      <td><%= @user.stock_country.name  %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td>Company Contact</td>
                    <td><%= @user.company_contact %></td>
                  </tr>              
                  <tr>
                    <td>Company Skype Id</td>
                    <td><%= @user.company_skype_id %></td>
                  </tr>
                  <tr>
                    <td>Company Id</td>
                    <td><%= @user.industry ? @user.company_id : 0 %></td>
                  </tr>
                  <tr>
                    <td>Company Type Name</td>
                    <td><%= @user.company ? @user.company.name : "" %></td>
                  </tr>
                  <tr>
                    <td>Profile</td>
                    <td><%= image_tag @user.profile_pic, :size => "50x50" %></td>
                  </tr>
                  <tr>
                    <td>Back Profile</td>
                    <td><%= image_tag @user.back_profile, :size => "50x50" %></td>
                  </tr>
                </table>
                <p style="margin-top:20px;"><strong class="text_color" >All Percentage</strong></p>
                <table>
                  <tr>
                    <th>Company Info</th>
                    <th>Corporate Identity</th>
                    <th>Growth And Goal</th>
                    <th>Company Tribute</th>
                    <th>Gallery</th>
                    <th>Working Environment</th>
                    <th>Total</th>
                  </tr>
                  <tr>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.company_info_per.to_i, "info") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.corporate_identity_per.to_i, "corporate") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.growth_and_goal_per.to_i, "growth") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.achievement_per.to_i, "achievement") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.galery_per.to_i, "gallery") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.working_env_per.to_i, "workingenv") : 0 %></td>
                    <td><%= @user.user_meter ? @user.user_meter.profile_meter_per.to_i : 0 %></td>
                  </tr>
                </table>
              </div>
              <div id="CompanyCorporate">  
                <table>        
                  <p><strong class="text_color" >Corporate Identity</strong></p>   
                  <tr>
                    <td>Company Logo</td>
                    <td><%= image_tag @user.company_logo, :size => "50x50" %></td>
                  </tr>
                  <tr>
                    <td>Company Profile</td>
                    <td><%= image_tag @user.company_profile, :size => "50x50" %></td>
                  </tr> 
                  <tr>
                    <td>Company Brochure</td>
                    <td><% if @user.file_type == 'video' %><%= video_tag @user.company_brochure, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag @user.company_brochure, :size => "50x50" %><% end %></td>
                  </tr>     
                  <tr>
                    <td>Company Website</td>
                    <td><%= @user.company_website %></td>
                  </tr>
                  <tr>
                    <td>Company Facebook Link</td>
                    <td><%= @user.company_facebook_link %></td>
                  </tr>
                </table>
              </div>
              <div id="CompanyEvalution">          
                <p><strong class="text_color" >Company Evalution</strong></p>
                <table>
                  <tr>
                    <td>Company Turnover:</td>
                    <td><%= @user.company_turnover %></td>
                  </tr>
                  <tr>
                    <td>No Of Employees:</td>
                    <td><%= @user.company_no_of_emp %></td>
                  </tr>
                  <tr>
                    <td>Company Growth Ratio:</td>
                    <td><%= @user.company_growth_ratio %></td>
                  </tr>
                  <tr>
                    <td>Company New Ventures:</td>
                    <td><%= @user.company_new_ventures %></td>
                  </tr>
                </table>
              </div>
              <div id="CompanyFutureGoal">   
                <p><strong class="text_color" >Company Future Goal</strong></p>   
                <table>    
                  <tr>
                    <td>Company Future Turnover</td>
                    <td><%= @user.company_future_turnover %></td>
                  </tr>
                  <tr>
                    <td>Company Future New Venture Location</td>
                    <td><%= @user.company_future_new_venture_location %></td>
                  </tr>
                  <tr>
                    <td>Company Future Outlet</td>
                    <td><%= @user.company_future_outlet %></td>
                  </tr>
                </table>
              </div>
              <div id="CompanyAwards">          
                <h4 class="text_decoration"><b> Company Awards </b></h4>
                <% if @user.user_awards.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Name </strong></th>
                    <th><strong class="text_color" >Award Type </strong></th>
                    <th><strong class="text_color" >Description </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                    <th><strong class="text_color" >File Type</strong></th>
                  </tr>
                  <% @user.user_awards.each do |award| %>     
                  <tr >
                    <td><%= award.id %></td>
                    <td><%= award.name %></td>
                    <td><%= award.award_type %></td>
                    <td><%= award.description %></td>
                    <td><% if award.file_type == 'video' %><%= video_tag award.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag award.thumb_url, :size => "50x50" %><% end %></td>
                    <td><%= award.file_type %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="CompanyCertificates">          
                <h4 class="text_decoration"><b> Company Certificates </b></h4>
                <% if @user.user_certificates.count > 0 %>
                <table>
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Name </strong></th>
                    <th><strong class="text_color" >Certificate Type </strong></th>
                    <th><strong class="text_color" >Year </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                    <th><strong class="text_color" >File Type </strong></th>
                  </tr>
                  <% @user.user_certificates.each do |certi| %>     
                  <tr >
                    <td><%= certi.id %></td>
                    <td><%= certi.name %></td>
                    <td><%= certi.certificate_type %></td>
                    <td><%= certi.year %></td>
                    <td><% if certi.file_type == 'video' %>
                      <%= video_tag certi.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %>
                      <% elsif certi.file_type == 'image' %><%= image_tag certi.thumb_url, :size => "50x50" %>
                      <% elsif certi.file_type == 'doc' %><%= link_to "Download Document" ,certi.file.url, target: '_blank' %>
                      <% end %></td>
                      <td><%= certi.file_type %></td>
                    </tr>

                  <% end %>
                </table>     
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="CompanyGallery">          
                <h4 class="text_decoration"><b> Company Gallery </b></h4>
                <% if @user.company_galeries.count > 0 %>
                <% @user.company_galeries.each do |galery| %>
                <div class="img">
                  <%= image_tag galery.thumb_url %>
                </div>
                <% end %>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="CompanyWorkingEnvironment">          
                
                <% if @user.user_environments.count > 0 %>
                <h4 class="text_decoration"><b> Company Working Environment </b></h4>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Env Type </strong></th>
                    <th><strong class="text_color" >Title </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                    <th><strong class="text_color" >File Type </strong></th>
                  </tr>
                  <% @user.user_environments.each do |work_env| %>     
                  <tr >
                    <td><%= work_env.id %></td>
                    <td><%= work_env.env_type %></td>
                    <td><%= work_env.title %></td>
                    <td><% if work_env.file_type == 'video' %><%= video_tag work_env.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% elsif work_env.file_type == 'text' %><%= work_env.text_field %><% else %><%= image_tag work_env.thumb_url, :size => "50x50" %><% end %></td>
                      <td><%= work_env.file_type %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>


          <% elsif @user.role == 'Student' %>


              <div id="StudentDetail">    
                <p><strong class="text_color" >Student Detail</strong></p>  
                <table>    
                  <tr>
                    <td>Username</td>
                    <td><%= @user.username %></td>
                  </tr>
                  <tr>
                    <td>First Name</td>
                    <td><%= @user.first_name %></td>
                  </tr>
                  <tr>
                    <td>File</td>
                    <td><% if @user.file_type == 'video' %><%= video_tag @user.file.url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag @user.file.url, :size => "50x50" %><% end %></td>
                  </tr>
                  <tr>
                    <td>Country ID</td>
                    <td><%= @user.country_id  %></td>
                  </tr>
                  <tr>
                    <td>Country Name</td>
                    <% if @user.country_id.blank? %>
                      <td><p>Not Available</p></td>                      
                    <% else %>
                      <td><%= @user.stock_country.name  %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td>File URL</td>
                    <td><%= @user.file.url %></td>
                  </tr>
                  <tr>
                    <td>Profile</td>
                    <td><%= image_tag @user.profile_pic, :size => "50x50" %></td>
                  </tr>
                  <tr>
                    <td>Back Profile</td>
                    <td><%= image_tag @user.back_profile, :size => "50x50" %></td>
                  </tr>
                </table>
                <p style="margin-top:20px;"><strong class="text_color" >All Percentage</strong></p>  
                <table>
                  <tr>
                    <th>Basic Info</th>
                    <th>Education</th>
                    <th>Achievement</th>
                    <th>Extra Curricular</th>
                    <th>Future Goal</th>
                    <th>Total</th>
                  </tr>
                  <tr>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.student_basic_info_per.to_i, "info") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.student_education_per.to_i, "education") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.achievement_per.to_i, "achievement") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.curri_per.to_i, "extra") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.future_goal_per.to_i, "futuregoal") : 0 %></td>
                    <td><%= @user.user_meter ?  @user.user_meter.profile_meter_per.to_i : 0 %></td>
                  </tr>
                </table>
              </div>
              <div id="StudentEducation">          
                <h4 class="text_decoration"><b> Student Education </b></h4>
                <% if @user.student_educations.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >standard </strong></th>
                    <th><strong class="text_color" >School </strong></th>
                    <th><strong class="text_color" >Year </strong></th>
                  </tr>
                  <% @user.student_educations.each do |stu_edu| %>     
                  <tr >
                    <td><%= stu_edu.id %></td>
                    <td><%= stu_edu.standard %></td>
                    <td><%= stu_edu.school %></td>
                    <td><%= stu_edu.year %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="StudentMarksheet">          
                <h4 class="text_decoration"><b> Student Marksheet </b></h4>
                <% if @user.user_marksheets.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >School Name </strong></th>
                    <th><strong class="text_color" >Standard </strong></th>
                    <th><strong class="text_color" >Grade </strong></th>
                    <th><strong class="text_color" >Year </strong></th>
                    <th><strong class="text_color" >File Type </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                  </tr>
                  <% @user.user_marksheets.each do |marksheet| %>     
                  <tr >
                    <td><%= marksheet.id %></td>
                    <td><%= marksheet.school_name %></td>
                    <td><%= marksheet.standard %></td>
                    <td><%= marksheet.grade %></td>
                    <td><%= marksheet.year %></td>
                    <td><%= marksheet.file_type %></td>
                    <td><% if marksheet.file_type == 'image' %><%= image_tag marksheet.thumb_url, :size => "50x50" %><% else %><%= image_tag marksheet.thumb_url, :size => "50x50" %><% end %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="StudentProject">          
                <h4 class="text_decoration"><b> Student Project </b></h4>
                <% if @user.user_projects.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Title </strong></th>
                    <th><strong class="text_color" >Description </strong></th>
                    <th><strong class="text_color" >File Type</strong></th>
                    <th><strong class="text_color" >File </strong></th>
                  </tr>
                  <% @user.user_projects.each do |project| %>     
                  <tr >
                    <td><%= project.id %></td>
                    <td><%= project.title %></td>
                    <td><%= project.description %></td>
                    <td><%= project.file_type %></td>
                    <td><% if project.file_type == 'video' %><%= video_tag project.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% elsif project.file_type == 'image' %><%= image_tag project.thumb_url, :size => "50x50" %><% else %><%= image_tag project.thumb_url, :size => "50x50" %><% end %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="StudentAwards">          
                <h4 class="text_decoration"><b> Student Awards </b></h4>
                <% if @user.user_awards.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Name </strong></th>
                    <th><strong class="text_color" >Award Type </strong></th>
                    <th><strong class="text_color" >Description </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                    <th><strong class="text_color" >File Type</strong></th>
                  </tr>
                  <% @user.user_awards.each do |award| %>     
                  <tr >
                    <td><%= award.id %></td>
                    <td><%= award.name %></td>
                    <td><%= award.award_type %></td>
                    <td><%= award.description %></td>
                    <td><% if award.file_type == 'video' %><%= video_tag award.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag award.thumb_url, :size => "50x50" %><% end %></td>
                    <td><%= award.file_type %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="StudentCertificates">          
                <h4 class="text_decoration"><b> Student Certificates </b></h4>
                <% if @user.user_certificates.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Name </strong></th>
                    <th><strong class="text_color" >Certificate Type </strong></th>
                    <th><strong class="text_color" >Year </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                    <th><strong class="text_color" >File Type </strong></th>
                  </tr>
                  <% @user.user_certificates.each do |certi| %>     
                  <tr >
                    <td><%= certi.id %></td>
                    <td><%= certi.name %></td>
                    <td><%= certi.certificate_type %></td>
                    <td><%= certi.year %></td>
                    <td><% if certi.file_type == 'video' %>
                      <%= video_tag certi.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %>
                      <% elsif certi.file_type == 'image' %><%= image_tag certi.thumb_url, :size => "50x50" %>
                      <% elsif certi.file_type == 'doc' %><%= link_to "Download Document", certi.file.url, target: '_blank' %>
                      <% end %></td>
                      <td><%= certi.file_type %></td>
                    </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="StudentCurricular">          
                <h4 class="text_decoration"><b> Student Curricular </b></h4>
                <% if @user.user_curriculars.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Curricular Type </strong></th>
                    <th><strong class="text_color" >Team Type </strong></th>
                    <th><strong class="text_color" >Location </strong></th>
                    <th><strong class="text_color" >Date </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                  </tr>
                  <% @user.user_curriculars.each do |curri| %>     
                  <tr >
                    <td><%= curri.id %></td>
                    <td><%= curri.curricular_type %></td>
                    <td><%= curri.team_type %></td>
                    <td><%= curri.location %></td>
                    <td><%= curri.date %></td>
                    <td><% if curri.file_type == 'video' %><%= video_tag curri.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag curri.thumb_url, :size => "50x50" %><% end %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="StudentFutureGoal">          
                <h4 class="text_decoration"><b> Student FutureGoal </b></h4>
                <% if @user.user_future_goals.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Id </strong></th>
                    <th><strong class="text_color" >Goal Type </strong></th>
                    <th><strong class="text_color" >Title </strong></th>
                    <th><strong class="text_color" >Term Type </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                  </tr>
                  <% @user.user_future_goals.each do |future| %>     
                  <tr >
                    <td><%= future.id %></td>
                    <td><%= future.id %></td>
                    <td><%= future.goal_type %></td>
                    <td><%= future.title %></td>
                    <td><%= future.term_type %></td>
                    <td><% if future.file_type == 'video' %><%= video_tag future.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag future.thumb_url, :size => "50x50" %><% end %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>


          <% elsif @user.role == 'Faculty' %>


              <div id="FacultyDetail">          
                <h4 class="text_decoration"><b> Faculty Information </b></h4>          
                <p><strong class="text_color" >Faculty Information</strong></p>
                <table>
                  <tr>
                    <td>Username</td>
                    <td><%= @user.username %></td>
                  </tr>
                  <tr>
                    <td>First Name</td>
                    <td><%= @user.first_name %></td>
                  </tr>
                  <tr>
                    <td>Work Type</td>
                    <td><%= @user.faculty_work_with_type %></td>
                  </tr>
                  <tr>
                    <td>University Name</td>
                    <td><%= @user.faculty_uni_name %></td>
                  </tr>
                  <tr>
                    <td>Subject</td>
                    <td><%= @user.faculty_subject %></td>
                  </tr>
                  <tr>
                    <td>Designation</td>
                    <td><%= @user.faculty_designation %></td>
                  </tr>
                  <tr>
                    <td>Join From</td>
                    <td><%= @user.faculty_join_from %></td>
                  </tr>
                  <tr>
                    <td>Country ID</td>
                    <td><%= @user.country_id  %></td>
                  </tr>
                  <tr>
                    <td>Country Name</td>
                    <% if @user.country_id.blank? %>
                      <td><p>Not Available</p></td>                      
                    <% else %>
                      <td><%= @user.stock_country.name  %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td>File</td>
                    <td><% if @user.file_type == 'video' %><%= video_tag @user.file.url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag @user.file.url, :size => "50x50" %><% end %></td>
                  </tr>
                  <tr>
                    <td>File URL</td>
                    <td><%= @user.file.url %></td>
                  </tr>
                  <tr>
                    <td>Profile</td>
                    <td><%= image_tag @user.profile_pic, :size => "50x50" %></td>
                  </tr>
                  <tr>
                    <td>Back Profile</td>
                    <td><%= image_tag @user.back_profile, :size => "50x50" %></td>
                  </tr>
                </table>
                <p style="margin-top:20px;"><strong class="text_color" >All Percentage</strong></p>
                <table>
                  <tr>
                    <th>Basic Info</th>
                    <th>Experience</th>
                    <th>Achievement</th>
                    <th>Total</th>
                  </tr>
                  <tr>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.faculty_basic_info_per.to_i, "info") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.experience_per.to_i, "experience") : 0 %></td>
                    <td><%= @user.user_meter ? @user.cal_preview_per(@user.user_meter.achievement_per.to_i, "achievement") : 0 %></td>
                    <td><%= @user.user_meter ?  @user.user_meter.profile_meter_per.to_i : 0 %></td>
                  </tr>
                </table>
              </div>
              <div id="FacultyAffiliation">          
                <h4 class="text_decoration"><b> Faculty Affiliation </b></h4>
                <% if @user.faculty_affiliations.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >University </strong></th>
                    <th><strong class="text_color" >Collage Name </strong></th>
                    <th><strong class="text_color" >Subject </strong></th>
                    <th><strong class="text_color" >Designation </strong></th>
                    <th><strong class="text_color" >Join From </strong></th>
                    <th><strong class="text_color" >Join Till </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                  </tr>
                  <% @user.faculty_affiliations.each do |affiliation| %>     
                  <tr >
                    <td><%= affiliation.id %></td>
                    <td><%= affiliation.university %></td>
                    <td><%= affiliation.collage_name %></td>
                    <td><%= affiliation.subject %></td>
                    <td><%= affiliation.designation %></td>
                    <td><%= affiliation.join_from %></td>
                    <td><%= affiliation.join_till %></td>
                    <td><%= image_tag affiliation.thumb_url, :size => "50x50" %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="FacultyWorkshop">          
                <h4 class="text_decoration"><b> Faculty Workshop </b></h4>
                <% if @user.faculty_workshops.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Title</strong></th>
                    <th><strong class="text_color" >Description </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                    <th><strong class="text_color" >File Type </strong></th>
                  </tr>
                  <% @user.faculty_workshops.each do |workshop| %>     
                  <tr >
                    <td><%= workshop.id %></td>
                    <td><%= workshop.title %></td>
                    <td><%= workshop.description %></td>
                    <td><% if workshop.file_type == 'video' %><%= video_tag workshop.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% elsif workshop.file_type == 'image' %><%= image_tag workshop.thumb_url, :size => "50x50" %><% end %></td>
                    <td><%= workshop.file_type %></td>                    
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="FacultyPublication">          
                <h4 class="text_decoration"><b> Faculty Publication </b></h4>
                <% if @user.faculty_publications.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Title </strong></th>
                    <th><strong class="text_color" >Description </strong></th>
                    <th><strong class="text_color" >File Type </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                  </tr>
                  <% @user.faculty_publications.each do |publication| %>     
                  <tr >
                    <td><%= publication.id %></td>
                    <td><%= publication.title %></td>
                    <td><%= publication.description %></td>
                    <td><%= publication.file_type %></td>
                    <td><% publication.file.url %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="FacultyResearch">          
                <h4 class="text_decoration"><b> Faculty Research </b></h4>
                <% if @user.faculty_researches.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Title </strong></th>
                    <th><strong class="text_color" >Description </strong></th>
                    <th><strong class="text_color" >File Type </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                  </tr>
                  <% @user.faculty_researches.each do |research| %>     
                  <tr >
                    <td><%= research.id %></td>
                    <td><%= research.title %></td>
                    <td><%= research.description %></td>
                    <td><%= research.file_type %></td>
                    <td><% research.file.url %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="FacultyAwards">          
                <h4 class="text_decoration"><b> Faculty Awards </b></h4>
                <% if @user.user_awards.count > 0 %>
                <table>     
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Name </strong></th>
                    <th><strong class="text_color" >Award Type </strong></th>
                    <th><strong class="text_color" >Description </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                    <th><strong class="text_color" >File Type</strong></th>
                  </tr>
                  <% @user.user_awards.each do |award| %>     
                  <tr >
                    <td><%= award.id %></td>
                    <td><%= award.name %></td>
                    <td><%= award.award_type %></td>
                    <td><%= award.description %></td>
                    <td><% if award.file_type == 'video' %><%= video_tag award.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %><% else %><%= image_tag award.thumb_url, :size => "50x50" %><% end %></td>
                    <td><%= award.file_type %></td>
                  </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>
              <div id="FacultyCertificates">          
                <h4 class="text_decoration"><b> Faculty Certificates </b></h4>
                <% if @user.user_certificates.count > 0 %>
                <table>
                  <tr >
                    <th><strong class="text_color" >No</strong></th>
                    <th><strong class="text_color" >Name </strong></th>
                    <th><strong class="text_color" >Certificate Type </strong></th>
                    <th><strong class="text_color" >Year </strong></th>
                    <th><strong class="text_color" >File </strong></th>
                    <th><strong class="text_color" >File Type </strong></th>

                  </tr>
                  <% @user.user_certificates.each do |certi| %>     
                  <tr >
                    <td><%= certi.id %></td>
                    <td><%= certi.name %></td>
                    <td><%= certi.certificate_type %></td>
                    <td><%= certi.year %></td>
                    <td><% if certi.file_type == 'video' %>
                      <%= video_tag certi.thumb_url, :size => "320x240", :controls => true, :autobuffer => true %>
                      <% elsif certi.file_type == 'image' %><%= image_tag certi.thumb_url, :size => "50x50" %>
                      <% elsif certi.file_type == 'doc' %>
                      <%= link_to "Download Document", certi.file.url, target: '_blank' %>
                      <% end %></td>
                      <td><%= certi.file_type %></td>
                    </tr>
                  <% end %>
                </table>
                <% else %>
                <p><strong class="text_color" >No Records Found.</strong></p>
                <% end %>
              </div>


          <% end %>
        </div>
        <div class="form-group clearfix">
        <div >
          <%= link_to '', admin_users_path, class: "btn btn-primary btn-sm glyphicon glyphicon-arrow-left", style: "color:#FFF; margin-left:20px;" %>
        </div>
      </div>
      </div>
      
    </div> 
  </div>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    div.img {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 50px;
      height: 50px;
      overflow :  hidden;
    }
    div.img:hover {
      border: 1px solid #777;
    }
    div.img img {
      width: 50%;
      height: auto;
    }
    div.desc {
      padding: 15px;
      text-align: center;
    }
  </style>
