<%= jwplayer_assets %>
<p id="notice"><%= notice %> </p>
<div class="row ">
  <div class="col-lg-offset-1 col-lg-10">
    <div class="panel panel-default" id="user_sections" style="background:#fff;">
      <ul class="tab">
        <li class="text_color"><a href="#Detail" >Info</a></li>
        <li class="text_color"><a href="#Education" >Education</a></li>
        <li class="text_color"><a href="#Experience" >Experience</a></li>
        <li class="text_color"><a href="#PreferredWork" >Pre Work</a></li>
        <li class="text_color"><a href="#Awards" >Awards</a></li>
        <li class="text_color"><a href="#Certificates" >Certi</a></li>
        <li class="text_color"><a href="#Curricular" >Curricular</a></li>
        <li class="text_color"><a href="#FutureGoal" >Goal</a></li>
        <li class="text_color"><a href="#WorkingEnvironment" >Work Env</a></li>
        <li class="text_color"><a href="#References" >References</a></li>
      </ul>
      <div class="panel-body" style="background:#fff;">
        <div id="Detail">
          <% if @user.role == 'Jobseeker' %>
          <h4 class="text_decoration"><b> Personal Details </b></h4>
          <p><strong class="text_color" >Player:</strong> <%= jwplayer({width: 500, height: 200}) %> </p>
          <p><strong class="text_color" >Username:</strong> <%= @user.username %> </p>
          <p><strong class="text_color" >Email:</strong> <%= @user.email %> </p>
          <p><strong class="text_color" >Role:</strong> <%= @user.role %> </p>
          <p><strong class="text_color" >Full Name:</strong> <%= @user.first_name %> <%= @user.middle_name %> <%= @user.last_name %> </p>
          <p><strong class="text_color" >Contact Number:</strong> <%= @user.contact_number  %> </p>
          <p><strong class="text_color" >Address:</strong> <%= @user.address %> , <%= @user.city %>  </p>
          <p><strong class="text_color" >Nationality:</strong> <%= @user.nationality %> </p>
          <% elsif @user.role == 'Company' %>
          <h4 class="text_decoration"><b> Company Information </b></h4>
          <p><strong class="text_color" >Player:</strong> <%= jwplayer({width: 500, height: 200}) %> </p>
          <p><strong class="text_color" >Username:</strong> <%= @user.username %> </p>
          <p><strong class="text_color" >Company Name:</strong> <%= @user.company_name %> </p>
          <p><strong class="text_color" >Company Establish From:</strong> <%= @user.company_establish_from %> </p>
          <p><strong class="text_color" >Company Industry:</strong> <%= @user.company_industry %> </p>
          <p><strong class="text_color" >Company Functional Area:</strong> <%= @user.company_functional_area %> </p>
          <p><strong class="text_color" >Company Address:</strong> <%= @user.company_address %> </p>
          <p><strong class="text_color" >Company Zipcode:</strong> <%= @user.company_zipcode %> </p>        
          <p><strong class="text_color" >Company City:</strong> <%= @user.company_city %> </p>
          <p><strong class="text_color" >Company Contact:</strong> <%= @user.company_contact %> </p>
          <p><strong class="text_color" >Company Skype Id:</strong> <%= @user.company_skype_id %> </p>
          <p><strong class="text_color" >Company:</strong> <%= @user.company_id %> </p>
          <h4 class="text_decoration"><b> Corporate Identity </b></h4>
          <p><strong class="text_color" >Company Logo:</strong> <%= @user.company_logo %> </p>
          <p><strong class="text_color" >Company Profile:</strong> <%= @user.company_profile %> </p>
          <p><strong class="text_color" >Company Brochure:</strong> <%= @user.company_brochure %> </p>
          <p><strong class="text_color" >Company Website:</strong> <%= @user.company_website %> </p>
          <p><strong class="text_color" >Company Facebook Link:</strong> <%= @user.company_facebook_link %> </p>
          <p><strong class="text_color" >Company Turnover:</strong> <%= @user.company_turnover %> </p>
          <p><strong class="text_color" >No Of Employees:</strong> <%= @user.company_no_of_emp %> </p>
          <p><strong class="text_color" >Company Growth Ratio:</strong> <%= @user.company_growth_ratio %> </p>
          <p><strong class="text_color" >Company New Ventures:</strong> <%= @user.company_new_ventures %> </p>
          <p><strong class="text_color" >Company Future Turnover:</strong> <%= @user.company_future_turnover %> </p>
          <p><strong class="text_color" >Company Future New Venture Location:</strong> <%= @user.company_future_new_venture_location %> </p>
          <p><strong class="text_color" >Company Future Outlet:</strong> <%= @user.company_future_outlet %> </p>
          <% elsif @user.role == 'Faculty' %>
          <h4 class="text_decoration"><b> Faculty Information </b></h4>
          <p><strong class="text_color" >Player:</strong> <%= jwplayer({width: 500, height: 200}) %> </p>
          <p><strong class="text_color" >Username:</strong> <%= @user.username %> </p>
          <p><strong class="text_color" >First Name:</strong> <%= @user.first_name %> </p>
          <p><strong class="text_color" >Work Type:</strong> <%= @user.faculty_work_with_type %> </p>
          <p><strong class="text_color" >University Name:</strong> <%= @user.faculty_uni_name %> </p>
          <p><strong class="text_color" >Subject:</strong> <%= @user.faculty_subject %> </p>
          <p><strong class="text_color" >Designation:</strong> <%= @user.faculty_designation %> </p>
          <p><strong class="text_color" >Join From:</strong> <%= @user.faculty_join_from %> </p>
          <% else %>
          <p><strong class="text_color" >Player:</strong> <%= jwplayer({width: 500, height: 200}) %> </p>
          <p><strong class="text_color" >Username:</strong> <%= @user.username %> </p>
          <p><strong class="text_color" >First Name:</strong> <%= @user.first_name %> </p>
          <% end %>
        </div>
        <div id="Education">
          <% @user.user_educations.each do |edu| %>     
          <tr >
            <p><strong class="text_color" >Course :</strong> <%= edu.course.name %> </p>
            <p><strong class="text_color" >Specialization :</strong> <%= edu.specialization.name %> </p>
            <p><strong class="text_color" >Year :</strong> <%= edu.year %> </p>
            <p><strong class="text_color" >School :</strong> <%= edu.school %> </p>
            <p><strong class="text_color" >Skill :</strong> <%= edu.skill %> </p><hr/>
          </tr>
          <% end %>
        </div>
        <div id="Experience">
          <% @user.user_experiences.each do |exp| %>     
          <tr >
            <p><strong class="text_color" >Name :</strong> <%= exp.name %> </p>
            <p><strong class="text_color" >Exp Type :</strong> <%= exp.exp_type %> </p>
            <p><strong class="text_color" >Start From :</strong> <%= exp.start_from %> </p>
            <p><strong class="text_color" >Working Till :</strong> <%= exp.working_till %> </p>
            <p><strong class="text_color" >Designation :</strong> <%= exp.designation %> </p><hr/>
          </tr>
          <% end %>
        </div>
        <div id="PreferredWork">
          <% @user.user_preferred_works.each do |pre_work| %>     
          <tr >
            <p><strong class="text_color" >Industry :</strong> <%= pre_work.ind_name %> </p>
            <p><strong class="text_color" >Functional Name :</strong> <%= pre_work.functional_name %> </p>
            <p><strong class="text_color" >Preffered Designation :</strong> <%= pre_work.preferred_designation %> </p>
            <p><strong class="text_color" >Preffered Location :</strong> <%= pre_work.preferred_location %> </p>
            <p><strong class="text_color" >Current Salary :</strong> <%= pre_work.current_salary %> </p>
            <p><strong class="text_color" >Expected Salary :</strong> <%= pre_work.expected_salary %> </p>
            <p><strong class="text_color" >Time Type :</strong> <%= pre_work.time_type %> </p><hr/>
          </tr>
          <% end %>
        </div>
        <div id="Awards">
          <% @user.user_awards.each do |award| %>     
          <tr >
            <p><strong class="text_color" >Name :</strong> <%= award.name %> </p>
            <p><strong class="text_color" >Award Type :</strong> <%= award.award_type %> </p>
            <p><strong class="text_color" >Description :</strong> <%= award.description %> </p><hr/>
          </tr>
          <% end %>
        </div>
        <div id="Certificates">
          <% @user.user_certificates.each do |certi| %>     
          <tr >
            <p><strong class="text_color" >Name :</strong> <%= certi.name %> </p>
            <p><strong class="text_color" >Certificate Type :</strong> <%= certi.certificate_type %> </p>
            <p><strong class="text_color" >Year :</strong> <%= certi.year %> </p><hr/>
          </tr>
          <% end %>
        </div>
        <div id="Curricular">
          <% @user.user_curriculars.each do |curri| %>     
          <tr >
            <p><strong class="text_color" >Curricular Type :</strong> <%= curri.curricular_type %> </p>
            <p><strong class="text_color" >Team Type :</strong> <%= curri.team_type %> </p>
            <p><strong class="text_color" >Location :</strong> <%= curri.location %> </p>
            <p><strong class="text_color" >Date :</strong> <%= curri.date %> </p><hr/>
          </tr>
          <% end %>
        </div>
        <div id="FutureGoal">
          <% @user.user_future_goals.each do |future| %>     
          <tr >
            <p><strong class="text_color" >Id :</strong> <%= future.id %> </p>
            <p><strong class="text_color" >Goal Type :</strong> <%= future.goal_type %> </p>
            <p><strong class="text_color" >Title :</strong> <%= future.title %> </p>
            <p><strong class="text_color" >Term Type :</strong> <%= future.term_type %> </p><hr/>
          </tr>
          <% end %>
        </div>
        <div id="WorkingEnvironment">
          <% @user.user_environments.each do |work_env| %>     
          <tr >
            <p><strong class="text_color" >Env Type :</strong> <%= work_env.env_type %> </p>
            <p><strong class="text_color" >Title :</strong> <%= work_env.title %> </p><hr/>
          </tr>
          <% end %>
        </div>
        <div id="References">
          <% @user.user_references.each do |ref| %>     
          <tr >
            <p><strong class="text_color" >Name :</strong> <%= ref.title %> </p>
            <p><strong class="text_color" >Exp Type :</strong> <%= ref.from %> </p>
            <p><strong class="text_color" >Start From :</strong> <%= ref.email %> </p>
            <p><strong class="text_color" >Working Till :</strong> <%= ref.date %> </p>
            <p><strong class="text_color" >Id :</strong> <%= ref.contact %> </p>
            <p><strong class="text_color" >Designation :</strong> <%= ref.location %> </p><hr/>
          </tr>
          <% end %>
        </div>
        <div class="form-group clearfix">
          <div >
            <%= link_to '', admin_users_path, class: "btn btn-primary btn-sm glyphicon glyphicon-arrow-left", style: "color:#FFF;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
