<style>
body {font-family: "Lato", sans-serif;}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9933;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #fff;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

</style>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-offset-1 col-lg-10">
    <div class="panel panel-default">

      
<ul class="tab">
  <li><a href="#" class="tablinks" onclick="openCity(event, 'Detail')" >Detail</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'Education')" >Education</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'Experience')" >Experience</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'PreferredWork')" >PreWork</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'Awards')" >Awards</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'Certificates')" >Certificates</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'Curricular')" >Curricular</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'FutureGoal')" >FutureGoal</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'WorkingEnvironment')" >WorkingEnv</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'References')" >References</a></li>
</ul>

<div class="panel-body">
<div id="Detail" class="tabcontent">
  <h3>Detail</h3>
  <% if @user.role == 'Jobseeker' %>

<h4 class="text_decoration"><b> Personal Details </b></h4>
<p><strong>Email:</strong><%= @user.email %></p>
<p><strong>Role:</strong><%= @user.role %></p>
<p><strong>First Name:</strong><%= @user.first_name %></p>
<p><strong>Second Name:</strong><%= @user.middle_name %></p>
<p><strong>Last Name:</strong><%= @user.last_name %></p>
<p><strong>City:</strong><%= @user.city %></p>
<p><strong>Address:</strong><%= @user.address %></p>
<p><strong>Contact Number:</strong><%= @user.contact_number  %></p>
<p><strong>Nationality:</strong><%= @user.nationality %></p>

<% elsif @user.role == 'Company' %>

<h4 class="text_decoration"><b> Company Information </b></h4>
<p><strong>Company Name:</strong><%= @user.company_name %></p>
<p><strong>Company Establish From:</strong><%= @user.company_establish_from %></p>
<p><strong>Company Industry:</strong><%= @user.company_industry %></p>
<p><strong>Company Functional Area:</strong><%= @user.company_functional_area %></p>
<p><strong>Company Address:</strong><%= @user.company_address %></p>
<p><strong>Company Zipcode:</strong><%= @user.company_zipcode %></p>        
<p><strong>Company City:</strong><%= @user.company_city %></p>
<p><strong>Company Contact:</strong><%= @user.company_contact %></p>
<p><strong>Company Skype Id:</strong><%= @user.company_skype_id %></p>
<p><strong>Company:</strong><%= @user.company_id %></p>
<h4 class="text_decoration"><b> Corporate Identity </b></h4>
<p><strong>Company Logo:</strong><%= @user.company_logo %></p>
<p><strong>Company Profile:</strong><%= @user.company_profile %></p>
<p><strong>Company Brochure:</strong><%= @user.company_brochure %></p>
<p><strong>Company Website:</strong><%= @user.company_website %></p>
<p><strong>Company Facebook Link:</strong><%= @user.company_facebook_link %></p>
<p><strong>Company Turnover:</strong><%= @user.company_turnover %></p>
<p><strong>No Of Employees:</strong><%= @user.company_no_of_emp %></p>
<p><strong>Company Growth Ratio:</strong><%= @user.company_growth_ratio %></p>
<p><strong>Company New Ventures:</strong><%= @user.company_new_ventures %></p>
<p><strong>Company Future Turnover:</strong><%= @user.company_future_turnover %></p>
<p><strong>Company Future New Venture Location:</strong><%= @user.company_future_new_venture_location %></p>
<p><strong>Company Future Outlet:</strong><%= @user.company_future_outlet %></p>

<% elsif @user.role == 'Faculty' %>

<h4 class="text_decoration"><b> Faculty Information </b></h4>
<p><strong>First Name:</strong><%= @user.first_name %></p>
<p><strong>Work Type:</strong><%= @user.faculty_work_with_type %></p>
<p><strong>University Name:</strong><%= @user.faculty_uni_name %></p>
<p><strong>Subject:</strong><%= @user.faculty_subject %></p>
<p><strong>Designation:</strong><%= @user.faculty_designation %></p>
<p><strong>Join From:</strong><%= @user.faculty_join_from %></p>

<% else %>

<p><strong>First Name:</strong><%= @user.first_name %></p>

<% end %>
</div>

<div id="Education" class="tabcontent">
  <h3>Education</h3>
  <%= @user.user_educations %>
  
</div>

<div id="Experience" class="tabcontent">
  <h3>Experience</h3>
  
</div>

<div id="PreferredWork" class="tabcontent">
  <h3>Preferred Work</h3>
  
</div>

<div id="Awards" class="tabcontent">
  <h3>Awards</h3>
  
</div>

<div id="Certificates" class="tabcontent">
  <h3>Certificates</h3>
  
</div>

<div id="Curricular" class="tabcontent">
  <h3>Curricular</h3>
  
</div>

<div id="FutureGoal" class="tabcontent">
  <h3>Future Goal</h3>
  
</div>

<div id="WorkingEnvironment" class="tabcontent">
  <h3>Working Environment</h3>
  
</div>

<div id="References" class="tabcontent">
  <h3>References</h3>
  
</div>
<div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <%= link_to 'Edit', edit_admin_user_path(@user), class: "btn btn-primary btn-sm" %> <%= link_to "Back", admin_users_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  
})
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
     

