<%= simple_form_for [:admin, @marketiq], html: { class: 'form-horizontal' } do |f| %>
  
  <%= f.input :question, label: "Question" %>
  <%= f.input :option_a, label: "Option A" %>
  <%= f.input :option_b, label: "Option B" %>
  <%= f.input :option_c, label: "Option C" %>
  <%= f.input :option_d, label: "Option D" %>
  <%= f.input :answer, label: "Answer" %>
  
  <%= f.radio_button(:role, "Jobseeker") %>
  <%= f.label(:role, "Jobseeker") %>
  <%= f.radio_button(:role, "Company")%>
  <%= f.label(:role, "Company") %>
  <%= f.radio_button(:role, "Student") %>
  <%= f.label(:role, "Student") %>
  <%= f.radio_button(:role, "Faculty")%>
  <%= f.label(:role, "Faculty") %>



  <div class="form-group string required marketiq_question" id="my_jobseeker">
  <label class="string required col-sm-3 control-label" for="marketiq_question">
  <abbr title="required">*</abbr> Specialization </label>
  <div class="col-sm-9">
  <%= f.collection_select :specialization_id, Specialization.order(:name),:id,:name, prompt: "Select something" %>
  </div>
  </div>


  <div class="form-group string required marketiq_question" id="my_company" style='display:none'>
  <label class="string required col-sm-3 control-label" for="marketiq_question">
  <abbr title="required">*</abbr> Industry </label>
  <div class="col-sm-9">
  <%= f.collection_select :industry_id, Industry.order(:name),:id,:name, prompt: "Select something" %>
  </div>
  </div>

  <div id="my_faculty" style="display:none;">
  <%= f.input :subject, label: "Subject"  %>
  </div>
  <div id="my_student" style="display:none;">
  <%= f.input :award_name, label: "Award"  %>
  </div>

  


  <div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary btn-sm">Save</button> <%= link_to "Back", admin_marketiqs_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">

$(document).ready(function() {


   $('input[name="marketiq[role]"]').click(function() {
           if($(this).val() == 'Jobseeker') {
                $('#my_jobseeker').show();    
                $('#my_company').hide().find('select').prop('disabled', true);  
                $('#my_student').hide().find('input').prop('disabled', true);
                $('#my_faculty').hide().find('input').prop('disabled', true);
           }
           else if($(this).val() == 'Company') {
                $('#my_jobseeker').hide().find('input').prop('disabled', true);    
                $('#my_company').show();   
                $('#my_student').hide().find('input').prop('disabled', true);
                $('#my_faculty').hide().find('input').prop('disabled', true);
           }
           else if($(this).val() == 'Student') {
                $('#my_jobseeker').hide().find('input').prop('disabled', true);    
                $('#my_company').hide().find('select').prop('disabled', true);    
                $('#my_student').show();
                $('#my_faculty').hide().find('input').prop('disabled', true);      
           }
           else {
                $('#my_jobseeker').hide().find('input').prop('disabled', true);    
                $('#my_company').hide().find('select').prop('disabled', true);  
                $('#my_student').hide().find('input').prop('disabled', true);
                $('#my_faculty').show();        
           }
       });

           

    });



</script>