<%= simple_form_for [:admin, @marketiq], html: { class: 'form-horizontal' } do |f| %>
  
  <%= f.input :question, label: "Question" %>
  <%= f.input :option_a, label: "Option A" %>
  <%= f.input :option_b, label: "Option B" %>
  <%= f.input :option_c, label: "Option C" %>
  <%= f.input :option_d, label: "Option D" %>
  <%= f.input :answer, label: "Answer" %>
  <div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary btn-sm">Save</button> <%= link_to "Back", admin_marketiqs_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
<% end %>