<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">        
        <h3 class="panel-title" style="color: #000000"><b>Question No <%= @marketiq.id %></b></h3>
      </div>
      <div class="panel-body">

<p>
  <strong>Role:</strong>
  <%= @marketiq.role %>
</p>

<% if @marketiq.subject.present? %>
<p>
  <strong>Subject:</strong>
  <%= @marketiq.subject %>
</p>
<% end %>

<% if @marketiq.award_name.present? %>
<p>
  <strong>Award Name:</strong>
  <%= @marketiq.award_name %>
</p>
<% end %>

<% if @marketiq.industry_id.present? %>
<p>
  <strong>Industry:</strong>
  <%= @marketiq.industry.name %>
</p>
<% end %>


<% if @marketiq.specialization_id.present? %>
<p>
  <strong>Specialization:</strong>
  <%= @marketiq.specialization.name %>
</p>
<% end %>


<p>
  <strong>Question:</strong>
  <%= @marketiq.question %>
</p>

<p>
  <strong>Option A:</strong>
  <%= @marketiq.option_a %>
</p>

<p>
  <strong>Option B:</strong>
  <%= @marketiq.option_b %>
</p>

<p>
  <strong>Option C:</strong>
  <%= @marketiq.option_c %>
</p>

<p>
  <strong>Option D:</strong>
  <%= @marketiq.option_d %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @marketiq.answer %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @marketiq.created_at.to_date %>
</p>
<p>
  <strong>Updated At:</strong>
  <%= @marketiq.updated_at.to_date %>
</p>

<div class="form-group clearfix">
    <div class="col-sm-offset-3 col-sm-9">
      <%= link_to "Back", admin_marketiqs_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>